@import "./variable.scss";

.client-subheading {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.client-img-container {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}

@media screen and (max-width: 1390px) {
  .client-img-container {
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    img {
      height: 40px;
      width: 130px;
    }
  }
}
