$primary-color: white;
$primary-margin: 225px;

$card-color: #022359;
$line-color: #022f77;

$primary-color-dim: rgba(2, 23, 58, 0.8);

$secondary-color: #4996f0;

$secondary-margin: 125px;

$dark-color: rgba(38, 46, 56, 1);

$primaryAnimation: sectionAnimationDown 2s ease forwards;

@keyframes sectionAnimationDown {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

$secondaryAnimation: sectionAnimationUp 3s ease forwards;

@keyframes sectionAnimationUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
