.action-card-container {
  width: 400px;
  background-color: white;
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 0;
  transition: height 2s ease;

  &.expanded {
    height: var(--height);
  }

  &.normal {
    height: var(--height);
  }

  .action-heading {
    display: flex;
    gap: 10px;
    position: relative;
    font-weight: 600;
    font-size: 1.2rem;
    color: #7a70e8;
    cursor: pointer;

    span:nth-child(3) {
      position: absolute;
      right: 0;
      top: 0;
      font-weight: 300;
      cursor: pointer;
    }
  }

  .action-content {
    padding-top: 20px;
    text-align: justify;
    font-weight: 300;
    animation: textView 2s ease-in forwards;
  }
}

@keyframes textView {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1390px) {
  .action-card-container {
    height: auto;
    width: 100%;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    padding: 30px;

    transition: height 0.3s ease;

    .action-heading {
      display: flex;
      gap: 10px;
      position: relative;
      font-weight: 600;
      color: #7a70e8;
      cursor: pointer;

      span:nth-child(3) {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 300;
        cursor: pointer;
      }
    }

    .action-content {
      font-size: 0.8rem;
    }
  }
}
