@import "../../styles/variable.scss";

.navbar {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 20;
  background-color: white;

  .navbar-container {
    height: inherit;
    margin-inline: $primary-margin;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        height: 50px;
        width: 50px;
        padding-top: 10px;
      }

      span {
        font-weight: 600;
        font-size: 1.3rem;
      }
    }

    .menu-items {
      display: flex;
      height: inherit;
      align-items: center;
      font-family: "Cario", sans-serif;
      font-weight: 500;
      gap: 50px;

      a {
        text-decoration: none;
        color: white;
      }

      cursor: pointer;

      .item {
        height: 80%;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: color 0.1s ease-in;
        font-weight: 600;
        transition: color 0.5s ease;

        &:hover {
          color: $secondary-color;
        }
      }

      .book-button {
        background-color: red;
        outline: none;
      }
    }

    .hamburger {
      display: none;
    }
  }
}

.drawer {
  z-index: 40;
  height: 100vh;
  width: 60%;
  background-color: rgba(38, 46, 56, 1);
  position: fixed;
  right: 0;
  color: white;

  .drawer-header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    box-sizing: border-box;
  }

  .drawer-content {
    display: flex;
    flex-direction: column;
    height: 70px;

    a {
      display: flex;
      gap: 30px;
      text-decoration: none;
      color: white;
      background-color: transparent;
      height: 100%;
      width: 100%;
      padding: 20px;
      height: 70px;

      box-sizing: border-box;
      border: 5px solid transparent;
      transition: box-shadow 0.5s ease;

      &:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        background-color: rgba(243, 243, 243, 0.1);
        color: white;
        border-left: 5px solid white;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .navbar {
    .navbar-container {
      margin-inline: $secondary-margin;
    }
  }
}

@media screen and (max-width: 1280px) {
  .navbar {
    .navbar-container {
      .menu-items {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    .navbar-container {
      margin-inline: 20px;
      .logo {
        display: flex;
        align-items: center;
        height: 100%;

        img {
          height: 40px;
          width: 40px;
        }
      }

      .menu-items {
        display: none;
      }

      .hamburger {
        display: flex;
        align-items: center;
      }
    }
  }
}
