@import "../../styles/variable.scss";

.section-container {
  background-color: var(--background-color);
  height: auto;
  padding-inline: $primary-margin;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-block: 80px;

  transition: opacity 4s ease, transform 0.8s ease;

  .section-heading {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;

    &.in-view {
      opacity: 1;
      animation: $secondaryAnimation;
    }

    &.out-of-view {
      opacity: 0;
      animation: $primaryAnimation;
    }

    span {
      width: 600px;
      text-align: center;
    }
  }

  .section-content {
    position: relative;
    box-sizing: border-box;

    &.in-view {
      opacity: 1;
      animation: $secondaryAnimation;
    }

    &.out-of-view {
      opacity: 0;
      animation: $primaryAnimation;
    }
  }
}

@media screen and (max-width: 1600px) {
  .section-container {
    padding-inline: $secondary-margin;
  }
}

@media screen and (max-width: 850px) {
  .section-container {
    padding-inline: 20px;
    height: auto;

    .section-heading {
      font-size: 2rem;
      font-weight: 800;
    }
  }
}
